<div id='calendar'></div>
<div id="myModal" class="modal fade" tabindex="-1" role="dialog">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title">REQUEST APPOINTMENT</h4>
			</div>
			<div class="modal-body">

  		  <div id="date" class="date_div"></div>
      <%= render "form"%>
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<script type="text/javascript">
	$(document).ready(function() {

    // page is now ready, initialize the calendar...

    $('#calendar').fullCalendar({
      dayClick: function(date) {
      		//string date=[date.format()];
        $('#date').html(date.format());
        //$('#appoint_fromtime','appoint_totime').html
        var x =  date.format();
         $('#select_day').val(x);	
       console.log(x);

        //$('#default').html(date.format());
        
        // $('#myModal').modal();
       window.location.href = "available?date="+x;
    
    },
       events: '/appointment'
});
  
});
</script>

<!-- $(function(){
    var input = prompt("Please enter a number");
}); -->