/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require fullcalendar
 */

.date_div{
  float: left;
  margin-top: 8px;
  margin-right: 10px;
}
.date_div_container{
  margin-bottom: 20px;
}
.field input{
  width: 100%;
}
input{
  padding: 5px 10px;
}
.modal-content{
  padding: 10px;
}
td{
  border: 1px solid gray;
}
table, tr, td{
  margin: 10px !important;
  padding: 10px 10px 10px 0 !important;
}